@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", sans-serif;
}

.wrapper {
  @apply max-w-6xl mx-auto px-4 sm:px-0;
}

.badge {
  @apply text-base px-3 py-1 rounded-full;
}

.section-title {
  @apply text-3xl md:text-5xl font-semibold tracking-tight;
}

.section-subtitle {
  @apply text-base md:text-lg;
}
