@import "tailwindcss";

@theme {
  --font-sans: "Manrope Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;

  --color-primary: #f45212;
}

/* Global */
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @apply font-mono text-sm font-medium uppercase px-5 py-2 bg-primary flex items-center justify-center rounded-sm transition-all duration-300;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-white hover:text-black;
}
