@import "tailwindcss";

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --tracking-tightest: -0.2rem;
}

.wrapper {
  @apply max-w-6xl mx-auto px-4 sm:px-0;
}

.badge {
  @apply text-base px-3 py-1 rounded-full;
}

.section-title {
  @apply text-3xl md:text-5xl font-semibold tracking-tight;
}

.section-subtitle {
  @apply text-base md:text-lg;
}

.btn-rounded {
  @apply px-1.5 py-1.5 rounded-full text-sm inline-flex items-center;
}
.btn .text {
  @apply font-semibold px-4;
}
.btn .icon {
  @apply size-9  flex items-center justify-center rounded-full;
}

.btn.white {
  @apply bg-white text-neutral-900;
}
