---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/sections/Hero.astro";
import Problem from "../components/sections/Problem.astro";
import Model from "../components/sections/Model.astro";
import Services from "../components/sections/Services.astro";
import Contact from "../components/sections/Contact.astro";
import FAQ from "../components/sections/Faq.astro";
---

<Layout title="Octalink | Tu Departamento de Ingeniería Digital Externo">
  <main>
    <Hero />
    <Problem />
    <Model />
    <Services />
    <FAQ />
    <Contact />
  </main>
</Layout>
