---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/sections/Hero.astro";
import Model from "../components/sections/Model.astro";
import PainPoints from "../components/sections/Pains.astro";
import Services from "../components/sections/Services.astro";
import Contact from "../components/sections/Contact.astro";
import FAQ from "../components/sections/Faq.astro";
---

<Layout title="Octalink | Tu Departamento de Ingeniería Digital Externo">
  <main id="index-view">
    <Hero />
    <Model />
    <PainPoints />
    <Services />
    <Contact />
    <FAQ />
  </main>
</Layout>
