---
import octalink from "../assets/octalink.svg";
---

<div
	id="container"
	class="bg-orange-600 h-dvh flex items-center justify-center"
>
	<img src={octalink.src} alt="Octalink Logo" class="h-9 animate-pulse" />
</div>
